@charset "UTF-8";

#calendar {
	clear: both;
	width: 700px !important;
	margin: 40px auto;
	padding: 0 10px;
	color: #fff;
}

/* 토요일 - 파란색 */
#calendar th.fc-day-sat, td.fc-day-sat {
	color: #b0d9be;
}

/*일요일 - 빨간색 */
#calendar th.fc-day-sun, td.fc-day-sun {
	color: #d0b9be;
}

.fc .fc-toolbar-title {
	color: #3D5A73;
	font-size: 30px;
}

.fc .fc-button-primary {
	background-color: #568c82;
	border: #568c82;
}

.fc .fc-button-primary:hover {
	background-color: #3d665f;
	background-color: var(- -fc-button-hover-bg-color, #3d665f);
	border: #3d665f;
	border: var(- -fc-button-hover-border-color, #3d665f);
}

.fc .fc-button-primary:disabled {
	background-color: #508c60;
	background-color: var(- -fc-button-bg-color, #508c60);
	/* 동적으로 css값 지정, 색생 값을 지정하는 변수 지정 */
	border: #508c60;
	border: var(- -fc-button-border-color, #508c60);
}

.fc .fc-button-primary:focus {
	box-shadow: 0 0 0 0;
}

/* fc-button-primary 클래스 버튼들 중 disabled 속성을 지니지 않으면서 active을 속성을 지닌 버튼과
	disabled 속성을 지니지 않은 fc-button-primary 클래스의 자식 클래스인 fc-button-active 버튼의 css값 지정*/
.fc .fc-button-primary:not(:disabled):active, .fc .fc-button-primary:not(:disabled).fc-button-active
	{
	background-color: #3d665f;
	background-color: var(- -fc-button-active-bg-color, #3d665f);
	border: #3d665f;
	border: var(- -fc-button-active-border-color, #3d665f);
}

.fc .fc-button-primary:not(:disabled):active:focus, .fc
	.fc-button-primary:not(:disabled).fc-button-active:focus {
	box-shadow: 0 0 0 0;
}


.fc-event{
	border-color: none;
}
.fc-event-title.fc-sticky{
    white-space: normal;
}




.modal {
	display: none;
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	overflow: atuto;
	z-index: 99;
	background-color: rgba(255, 255, 255, 0.719);
}

.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: 15% auto;
	padding: 0;
	border: none;
	width: 40%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}
.modal-header {
	padding: 2px 16px;
	background-color: #3D5A73;
	color: white;
}

.modal-body {
	padding: 2px 16px;
	background-color: #add9d4;
	color: #1e1e1e;
}

.inputModal {
	width: 65%;
	margin-bottom: 10px;
}

.modal-footer {
	padding: 2px 16px;
	background-color: #3D5A73;
	color: white;
}

.modalBtnContainer-addSchedule, .modalBtnContainer-modifySchedule{
	display: none;
}

/* 모달창 닫기 버튼*/
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: #1e1e1e;
	text-decoration: none;
	cursor: pointer;
}





/**/







