@charset "UTF-8";
/*폰트*/
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*공통 설정*/
* {
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
justify-content: center !important;

}

html {
height: 100%;
}

body {
margin: 0;
min-height: 100%;
background: #eef0f5;
font-family:'GmarketSansMedium','GmarketSansMedium',serif;
-ms-overflow-style: none; } 

/*스크롤 제거*/
::-webkit-scrollbar { display: none; }

/*폰트 개별 설정*/
input::placeholder {
font-family:'GmarketSansMedium','GmarketSansMedium',serif;
}
input[type='text'], input[type='select'], input[type='password'] {
font-family:'GmarketSansMedium','GmarketSansMedium',serif;
}

button{
	font-family:'GmarketSansMedium','GmarketSansMedium',serif;
}


input {
	background: rgba(255, 255, 255, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.5)
}

/*footer*/
footer {
position: absolute;
bottom: 0;
left: 0;
right: 0;
margin-left: auto;
margin-right: auto;
padding-top:1em;
color: white;
width: 1240px;	
height: 100px;
background-color:#2c3e50;
font-family:'GmarketSansLight','GmarketSansLight',serif;
font-size: 12px;
}

footer>li {
	margin: 0px;
}

li{
	list-style: none;
}

.content {
	position: relative;
	justify-content: center !important;
	width : 1240px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 180px; /* header height */
	padding-bottom: 200px; /* footer height */
	text-align: center;
}

button, input[type="button"], input[type="submit"], input[type="reset"], input[type="file"], a {
	cursor: pointer;
}

.justify-content-center {
	justify-content: center !important;
	margin-top: 3rem !important;
}

/*필수 선택*/
.required {
	color: red;
	font-size: 2px;
}

.optional {
	color: #aca4ae;
	font-size: 2px;
}

/*각종 버튼들*/
.darkbutton {
	width: 100px;
	height: 40px;
	border: none;
	padding: 5px;
	outline: none;
	border-radius: 5px;
	color: white;
	background-color: #2c3e50;
	font-size: 13px;
	font-family:'GmarketSansMedium','GmarketSansMedium',serif;
}


.darkbutton:hover {
	background-color: #1abc9c;
}

.findPostCode {
	width: 85px;
	height: 40px;
	border: none;
	padding: 5px;
	outline: none;
	border-radius: 5px;
	color: white;
	background-color: #2c3e50;
	font-size: 15px;
	font-family:'GmarketSansMedium','GmarketSansMedium',serif;
}

.findPostCode:hover{
	background-color: #1abc9c;
}